body {
        background: #D6E2EE;
        font-family: Arial, Helvetica, sans-serif;
}

.assignments{
    display:flex;
    flex-wrap:wrap;
}



.assignment {
    width:21%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background: #568FAA;
    border-radius: 5px;
    box-shadow: 5px 8px #8A0516;
}
.assignment img {
    width:200px;
    border: 2px solid #18293D;
    margin-right:20px;
    border-radius: 5px;
    display:block;
    margin:auto;

}

h1{
    color: #8A0516;
    text-align:center;
}

a{
    text-decoration:none;
    color:#D6E2EE; 
}

.assignment a:hover{
    color:#18293D;
}